body {
    font-family: Arial, sans-serif;
}

h1{
    font-size: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}

.column {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.cvMehaldp{
  width: 20vw;
  height: 20vw;
  border-radius: 4px;
}
 
 .column1 {
    background-color: #373741;
    color: #E1D8CF;
}
  
.column2, .column3, .column4 {
    background-color: #c6dfd9;  
}

.content{
    padding: 10px;
}

.subheading{
  background-color: #373741;
  color: #E1D8CF;
  padding: 10px;
  width: fit-content;
  border-radius: 1px;
  margin-bottom: 20px;
}

.bold{
  font-weight: bold;
}

.duration{
  font-weight: normal;
  font-style: italic;
  font-size: small;
}

.headspan{
    color: #93d0c2;
}

a{
  text-decoration: none;
}

/*-------------------RESPONSIVENESS----------------------*/

@media screen and (max-width: 1024px) {
    .container {
        justify-content: center;
      }
      
      .column {
        flex-basis: calc(50% - 40px);
        margin-bottom: 20px;
      }
      
      .column1 {
        order: 1;
      }
      
      .column2, .column3 {
        order: 2;
      }
  
    .column4{
      order: 3;
      flex-basis: calc(50% - 40px);
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
        justify-content: center;
      }
      
      .column {
        flex-basis: calc(100% - 40px);
        margin-bottom: 20px;
      }
      
  
    .column4{
      order: 3;
      flex-basis: calc(100% - 40px);
      margin-bottom: 20px;
    }
  }

  /* ---------------------NAVBAR CSS----------------------- */

/* ULTIMATE */
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;

}

/* RESPONSIVENESS */
@media screen and (max-width: 540px){
  .navbar ul li{
    line-height: 2.5;
  }  
}

@media screen and (min-width: 540px){
  .navbar ul li{
    display: inline-block;
  }
}

@media (max-width: 1040px){
  .mehal{
    padding-bottom: 20px;
  }
  .navbar{
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1040px){
  .navbar{
    display: flex;
  }
}

.mehal{
  height: 60px;
  cursor: pointer;
}

.navdp{
  padding-left: 3%;
  padding-right: 3%;
}

.navbar-list{
  padding-left: 3%;
  padding-right: 3%;
}

.navbar{
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 2vh 0;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  z-index: 2;
}

.navbar ul li{
  list-style: none;

  margin: 0 15px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 1px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.navbar ul li:hover::after{
  width: 100%;
}


 /*------------------------- FOOTER SECTION -----------------------*/
 .footer-link{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 15px;
}

.footer-link:hover{
  color: #660033;
}

.bottom-container{
  background: url(https://learn.canva.com/wp-content/uploads/2020/02/removing-background-images_Unsplash.jpeg);
  background-size: cover;
  background-position: center;
  height: 100px;
  text-align: center;
}

.copyright {
  color: #fff;
  font-size: 0.75rem;
  padding: 20px 0 5px;
}

