*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  overflow: hidden;
  background-image: url('/assets/self.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

canvas {
  display: block;
}

.canvas-container {
  position: relative;
}

.text-overlay {
  padding: 3vh 3vw;
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 25vh;
  left: 20vw;
  right: 20vw;
  border-radius: 5px;
}

.banner{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.banner-text{
  text-align: center;
  color: #fff;
}

.banner-text h1{
  font-size: 80px;
  font-family: 'Black Ops One', cursive;
}

.banner-text p{
  font-size: 20px;
  font-style: italic;
}

.banner-btn{
  margin: 20px 0;
}

.banner-btn a{
  text-decoration: none;
  width: 150px;
  display: inline-block;
  padding: 12px 0;
  color: #fff;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}

.banner-btn a span{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: pointer;
}

.banner-btn a:hover span{
  width: 100%;
  height: 100%;
  transition: 0.3s;
  background: #fff;
}

.banner-btn a:hover{
  color: #463e42;
  border-color: #463e42;
}
